.title_Unisza {
    color: gray;
    margin-left: 16px;
}

.desc_Unisza {
    color: gray;
margin-left: 16px;

}

.image_Unisza > img {
  width: 450px;
  height: 300px;
  margin: 16px;
  border-radius: 20px;
}