.test>img {
    height: 50%;
    width: 100%;
}

.test {
    position: relative;
}


.panahbawah {
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    width: 190px;
    height: 150px;
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translate(50%, 50%);
    border-radius: 10px;
}

.panahbawah:hover {
    cursor: pointer;
    background-color: #fdfdfd;
}

.panahbawah>img {
    height: 100px;
    width: 100px;
    padding: 20px;


}

.teks > h1{
    font-size:75px;
    margin-top: -15px;
}

.teks > h3{
    margin-left: 10px;
}
.teks {

    color: #fdfdfd;
    position: absolute;
    top: 27%;
    right: 50%;
    transform: translate(50%, 50%);
}